body {
  background-color: rgb(182, 181, 181);
  margin: 0 auto;
  font-family: arial, sans-serif;
  background-image:url("https://c0.wallpaperflare.com/preview/300/745/186/gradient-sky-moon-sunset.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  text-align: center;
  border-radius: 2px;
  max-height: 100px;
  display: inline-block;
}

h1 {
  margin: 40px 30px;
  color: lightgray;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: italic;
  font-weight: bold;
}

h2:nth-child(1) {
  margin-bottom: 30px;
  margin-top: 60px;
}

section {
  text-align: center;
  margin: 10px 20px;
  
}

.col-sm-6 {
  background-color: white;
  box-shadow: 10px;
  border: 2px solid black;
  border-radius: 5px;
}

ul, ol {
  padding-top: 20px;
}

ol {
  margin-bottom: 100px;
}

#first, #second {
  background-color: white;
}