div {
  background-color: aquamarine;
  width: 20%;
  font-size: 42px;
  font-weight: 200;
  border: solid black;
  padding: 30px 10px 10px 0;
  /* padding: top right bottom left; */
  text-align: center;
  margin: auto; 
}